*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Exclude gradle build files
build
.gradle
/local.properties
/.cxx
.kotlin

# Exclude IntelliJ files
.idea
*.iml
.DS_Store